<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href={% static 'css/cadastro.css' %}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    
    <title>Cadastro</title>
  </head>
  <body>

    <div class="blocoprincipal">
    
      <div class="bloco-cor">
        <div class="titulo_colorido">
          <h1 class="bloco-login-mensagem">Cadastre sua empresa!</h1>
        </div>
      </div>

      <div class="bloco_cadastro">
        
        <div class="container-formulario">

          <form class="formulario" method="post" enctype="multipart/form-data">
          {% csrf_token %}

            <div class="campos">
              <label for="nome">Razão Social</label>
              <input
                type="text"
                id="nome"
                name="nome"
                value="{{ form.nome.value|default:'' }}"
                required
              />
            </div>
            
            {{ form.raza.errors }}
            <div class="campos">
              <label for="email">Nome Fantasia</label>
              <input
                type="email"
                id="email"
                name="email"
                value="{{ form.email.value|default:'' }}"
                required
              />
            </div>

            <div class="campos">
              <label for="telefone">CNPJ</label>
              <input
                type="tel"
                id="telefone"
                name="telefone"
                value="{{ form.telefone.value|default:'' }}"
                required
              />
            </div>

            <div class="campos">
              <label for="cargo">Área de atuação</label>
              <input
                type="text"
                id="cargo"
                name="cargo"
                value="{{ form.cargo.value|default:'' }}"
                required
              />
            </div>

            <div class="campos">
              <label for="obs">Tempo de atuação no mercado</label>
              <input
                type="text"
                id="obs"
                name="obs"
                value="{{ form.obs.value|default:'' }}"
              />
            </div>

            <div class="campos-obs">
              <label for="obs">Observações</label>
              <input
                type="text"
                id="obs"
                name="obs"
                value="{{ form.obs.value|default:'' }}"
              />
            </div>
        
            <button type="submit" class="btn-env">Próximo</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>