<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/static/imgs/cropped-LOGO-DIPEQ.png" alt="Mondly Logo" class="logo-img">

        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#" class="active">Dashboard</a></li>
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Message</a></li>
            <li><a href="#">Support</a></li>
        </ul>
        <div class="nav-right">
            <input type="text" class="search-bar" placeholder="🔍">
        </div>
    </nav>
    <div class="main-block">
        <div class="container">
            <div class="card empresas">
                <h2>Empresas parceiras</h2>
                <div class="bar">
                    <h3>Faturamento no último mês</h3>
        
                </div>
            </div>
            <div class="card-group">
                <div class="card progress">
                    <h2>Empresas parceiras</h2>
                </div>
                <div class="card course">
                    <h2>Quantidade de funcionários</h2>
                </div>
            </div>
            <div class="card faturamento">
                <h2>Faturamento</h2>
                <div>
                    <h3>Faturamento no último mês</h3>
                    <p>oaiojioj</p>
                    <p>jsaeadoifj</p>
                </div>
                <div>
                    <h3>Faturamento Anual</h3>
                    <p>sfjksf</p>
                    <p>sjfnjkdn</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>