<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/static/imgs/cropped-LOGO-DIPEQ.png" alt="dipeq Logo" class="logo-img">
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#" class="active">Dashboard</a></li>
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Message</a></li>
            <li><a href="#">Support</a></li>
        </ul>
        <div class="nav-right">
            <input type="text" class="search-bar" placeholder="🔍">
        </div>
    </nav>
    
    <div class="main-block">
        
        <div class="container">
            <div class="card-group">

                <div class="card empresas">
                    <h2>Empresas Cadastradas</h2>
                    <div class="bar">
                        <h3>Total:</h3>
                        <p>{{ total_empresas }}</p>
                    </div>
                </div>

                <div class="card progress">
                    <h2>Total de Funcionários</h2>
                    <p>{{ total_funcionarios }}</p>
                </div>

                <div class="card course">
                    <h2>Faturamento Abaixo de 50 mil</h2>
                    <p>{{ empresas_com_faturamento_baixo.count }}</p> 
                </div>
            </div>

            <div class="card faturamento">
                <h2>Faturamento</h2>
                <div>
                    <h3>No Último Ano</h3>
                    <p>R$ {{ total_faturamento_ultimo_ano|floatformat:2 }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>