<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href={% static 'css/cadastro.css' %}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    
    <title>Informe o faturamento!</title>
  </head>
  <body>

    <div class="blocoprincipal">
    
      <div class="bloco-cor">
        <div class="titulo_colorido">
          <h1 class="bloco-login-mensagem">Cadastre sua empresa!</h1>
        </div>
      </div>

      <div class="bloco_cadastro">
        
        <div class="container-formulario">

         
        {% block content %}
        <h2>Cadastro de Faturamento</h2>
        <form class="formulario" method="post" enctype="multipart/form-data">
          {% csrf_token %}

            <div class="campos">
              <label for="id_ano">Ano</label>
                {{ form.ano }}
                {{ form.ano.errors }}
            </div>
      
            <div class="campos">
              <label for="id_faturamento">Faturamento</label>
                {{ form.faturamento }}
                {{ form.faturamento.errors }}
            </div>

          <div class="campos">
            <label for="id_ano">Ano</label>
                {{ form.ano }}
                {{ form.ano.errors }}
          </div>
      
          <div class="campos">
            <label for="id_faturamento">Faturamento</label>
              {{ form.faturamento }}
              {{ form.faturamento.errors }}
            </div>

            <div class="campos">
              <label for="id_ano">Ano</label>
                  {{ form.ano }}
                  {{ form.ano.errors }}
            </div>
        
            <div class="campos">
              <label for="id_faturamento">Faturamento</label>
                {{ form.faturamento }}
                {{ form.faturamento.errors }}
              </div>

          <button type="submit" class="btn-env">Próximo</button>
        </form>
        {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>