<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href={% static 'css/gestao.css' %}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    
    <title>Cadastro</title>
  </head>
  <body>

    <div class="blocoprincipal">
    
      <div class="bloco-cor">
        <div class="titulo_colorido">
          <h1 class="bloco-login-mensagem">Cadastre sua empresa!</h1>
        </div>
      </div>

      <div class="bloco_cadastro">
        
        <div class="container-formulario">

          <form class="formulario" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="campos">
              <label for="capital">Capital Social</label>
              {{ form.capitalSocial }}
              {{ form.capitalSocial.errors }}
            </div>

            <div class="campos">
              <label for="CLT">Funcionários CLT</label>
              {{ form.funcionarioCLT }}
              {{ form.funcionarioCLT.errors }}
            </div>

            <div class="campos">
              <label for="terceirizados">Funcionários Terceirizados</label>
              {{ form.funcionarioTercerizados }}
              {{ form.funcionarioTercerizados.errors }}
            </div>

            <div class="campos">
              <label for="estagiarios">Estagiários</label>
              {{ form.estagiario }}
              {{ form.estagiario.errors }}
            </div>

            <div class="campos">
              {{ form.numSocios }}
              {{ form.numSocios.errors }}
            </div>

            <div class="campos">
                <label for="socios">Nome dos sócios</label>
                {{ form.socios }}
                {{ form.socios.errors }}
              </div>

            <button type="submit" class="btn-env">Próximo</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>