<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <title>Home</title>
</head>
<body>
    <nav class="navbar">
      <div class="logo">
          <img src="/static/imgs/cropped-LOGO-DIPEQ.png" alt="dipeq Logo" class="logo-img">

      </div>
      <ul class="nav-links">
          <li><a href="#" class="active" >Home</a></li>
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'cadastroEmpresa' %}">Cadastro</a></li>
          <li><a href="#">Message</a></li>
          <li><a href="#">Sobre</a></li>
      </ul>
      <div class="nav-right">
          <input type="text" class="search-bar" placeholder="🔍">
      </div>
  </nav>

  <div class="container">
    <h1>Selecione as opções</h1>
    
    <div class="options">
      
      <div class="option selected">
        <a href="{% url 'cadastroEmpresa' %}">
            <div class="icon">📄</div>
            <h2>Novo cadastro</h2>
            <p>Cadastre aqui sua empresa!</p>
        </a>
      </div>

      <div class="option">
        <a href="{% url 'dashboard' %}">
            <div class="icon">📊</div>
            <h2>Dashboard</h2>
            <p>Veja aqui a relação de empresas parceiras!</p>
        </a>
      </div>

    </div>
    
  </div>
</body>
</html>
