<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href={% static 'css/redes.css' %}>s
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    
    <title>Cadastro</title>
  </head>
  <body>

    <div class="blocoprincipal">
    
      <div class="bloco-cor">
        <div class="titulo_colorido">
          <h1 class="bloco-login-mensagem">Redes Sociais</h1>
        </div>
      </div>

      <div class="bloco_cadastro">
        
        <div class="container-formulario">

          <form class="formulario" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="campos">
              <label for="website">Website</label>
              {{ form.website }}
              {{ form.website.errors }}
            </div>

            <div class="campos">
              <label for="insta">Instagram</label>
              {{ form.insta }}
              {{ form.insta.errors }}
            </div>

            <div class="campos">
              <label for="face">Facebook</label>
              {{ form.facebook }}
              {{ form.facebook.errors }}
            </div>

            <div class="campos">
              <label for="twitter">Twitter</label>
              {{ form.twitter }}
              {{ form.twitter.errors }}
            </div>

            <div class="campos">
              <label for="linkedin">Linkedin</label>
              {{ form.linkedin }}
              {{ form.linkedin.errors }}
            </div>

            <div class="campos">
                <label for="zap">Whatsapp</label>
                {{ form.zap }}
                {{ form.zap.errors }}
              </div>

              <div class="campos">
                <label for="obs">E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
              </div>
            
            <button type="submit" class="btn-env">Próximo</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>